@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorPhone {
    display: none;
}


input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid green;
  }