@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

.form-control {
    height: fit-content;
}

.form-control label {
    display: inline-block;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

/* Icones */
.form-control i {
    position: absolute;
    visibility: hidden;
    margin-left: 10px;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: green;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

/* Missatge error */
.form-control small {
    position: absolute;
    visibility: hidden;
    margin-left: 10px;
    margin-top: 30px;
}

.form-control.error small {
    color: red;
    visibility: visible;
}
  
